In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("Iris.csv")
dataset.head()
dataset.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
print("We have {} rows.".format(dataset.shape[0]))
print("We have {} columns.".format(dataset.shape[1]))

We have 150 rows.
We have 6 columns.

In [4]:
np.sum(pd.isnull(dataset))

c:\Users\Ncs\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
dataset = dataset.fillna(dataset.mean(numeric_only=True))
dataset = dataset.fillna(dataset.mode().iloc[0])

In [7]:
dataset["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
dataset["Id"] = dataset["Id"].astype(np.int64)

In [9]:
dataset.drop("Id", axis=1, inplace=True)

In [10]:
dataset.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [11]:
X = dataset.iloc[:, 0:-1]
y = dataset.iloc[:, -1]

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (150, 4)
y shape: (150,)

In [12]:
cat_columns = X.select_dtypes(['object']).columns
X[cat_columns] = X[cat_columns].apply(lambda col: pd.factorize(col)[0])